<h1>All Posts</h1>

<% if @posts.any? %>
<% @posts.each do |post| %>
<div class="post">
    <p><strong>Post by: <%= post.user&.username || "Unknown User" %></strong></p>
    <p>Mood Word: <%= post.mood_word || "No Mood Word" %></p>
    <p>Created At: <%= post.created_at || "No Date" %></p>
</div>
<% end %>
<% else %>
<p>No posts available. Be the first to create one!</p>
<% end %>
